@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Chewy&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.containerBolinhas{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	& .bolinhas{
		position: absolute;
		display: flex;
	
		& span {
			width: 30px;
			height: 30px;
			background-color: rgb(5, 73, 98);
			margin: 0 3rem;
			border-radius: 50%;
			box-shadow: 0 0 0 10px rgba(5, 73, 98, 0.273), 
			0 0 50px rgb(5, 73, 98), 
			0 0 100px rgb(5, 73, 98);
			animation: animar calc(90s / var(--i)) 5s linear infinite;
		}
		& span:nth-of-type(even){
			background-color: rgb(5, 8, 98);
			box-shadow: 0 0 0 10px rgba(5, 8, 98, 0.273),
			0 0 50px rgb(5, 8, 98),
			0 0 100px rgb(5, 8, 98);
		}
	}
}
/* Animação das bolinhas */
@keyframes animar {
	0%{
		transform: translateY(-10vh)scale(1);
	}
	100%{
		transform: translateY(100vh)scale(0);
	}
}
/* Título do meio */
#text{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	& h1 {
		font-family: "Chewy", serif;
		font-size: 6rem;
		letter-spacing: 0.5rem;
		color: rgb(182, 182, 182);
	}
	& p {
		color: rgb(182, 182, 182);
	}
}

body{
	background-color: rgb(0, 3, 34);
	color: rgb(255, 255, 255);
	font-family: 'Poppins', serif;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container{
	width: 80%;
	padding: 2rem 3rem;
	border-radius: 1rem;
	background-color: rgb(24, 24, 24);
}

section{
	margin: 3rem 0;
}

h2{
	text-align: center;
}
.center{
	text-align: center;
}

.exemplo{
	margin: 2rem 0;
}

img{
	width: 40%;
	border-radius: 1rem;
}

button{
	margin: 0.5rem 0;
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;
	font-weight: 700;
	color: rgb(56, 56, 56);
	background-color: rgb(218, 119, 14);
}

p {
	padding: 2rem 0;
}